<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDwfe2mj7EU3ByqdPYRmmrH5lj8qDdo_Pw</string>
	<key>GCM_SENDER_ID</key>
	<string>806521046100</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.enpowerapps.cvbuilder</string>
	<key>PROJECT_ID</key>
	<string>cv-builder-e4065</string>
	<key>STORAGE_BUCKET</key>
	<string>cv-builder-e4065.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:806521046100:ios:2014318162a90b1ef619c1</string>
</dict>
</plist>